@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Montserrat&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: #777;
    color: white;
}

body {
    background-color: black;
    background-image: linear-gradient(black 50%,
     rgba(183, 0, 165, .14),
     rgba(157, 80, 193, 0.418));
     min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    color: white;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:20px;
}

.nav {
    flex-grow: 1.1;
}

.nav li {
    display: inline-block;
}

.nav ul {
    display: flex;
    justify-content: space-around;
}

.header > .logo-container {
     flex-grow: 2.5;
}

.header a {
    color: #C4C4C4;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}

.nav a {
    padding: 1rem;
    font-size: 1.2em;
    font-weight: normal;
}

.nav a:hover, .nav a:focus {
    background-color: rgba(255,255,255,20%);
    border-bottom: 1px solid white;
    font-weight: lighter;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


